@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar{
    display: hidden;
}

.homescreen{
  background: url("./assets/homescreen.jpg");
  background-size: cover;
}
.examination{
  background: url("./assets/gameplay.jpg");
  background-size: cover;
}